/*
Joseph P. Pasaoa
Frontend | Pg-promise Lab
*/


/* CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FONT INITS */
@font-face {
  font-family: 'Kanit';
  src: url('./fonts/Kanit/Kanit-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* MAIN STYLE */
html, body, div#flex-base {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", serif;
  font-size: 0.8em;
}

div#flex-base {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  background-color: #111;
}

div#navBar {
  display: flex;
  flex-direction: row;

  width: 500px;
  height: 58px;
  margin: -12px 12px 6px 26px;
  padding: 15px 3px;
  border-radius: 0px 95px 9px 22px;
  box-shadow: 7px 6px 0px #444;

  background: rgb(255,94,0);
  background: linear-gradient(180deg, rgba(255,94,0,1) 0%, rgba(255,116,0,1) 25%, rgba(255,145,0,1) 100%);

  font-family: "Kanit", sans-serif;
  font-size: 2em;
}

h1 {
  margin: 8px 40px 1px 14px;
  border-right: solid 2px #111;
  width: max-content;
  padding-right: 16px;
  height: 52px;
}

h2 {
  margin: 12px 112px;
  
  font-family: "Kanit", sans-serif;
  font-size: 1.5em;
  color: darkcyan;
}

div#navBar a {
  position: relative;
  width: 80px;
  height: auto;
  top: 0px;
  left: 0px;
}

img.nav {
  margin-top: 10px;
  width: 80px;
  height: 34px;
}

div#navBar a label {
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 80px;
  margin-left: -40px;

  cursor: pointer;
  
  text-align: center;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 0.3em;
  font-weight: bold;
}

div#slate {
  position: relative;

  width: auto;
  height: 82vh;
  margin: 14px 120px 30px 77px;
  border-radius: 9px 125px 23px 44px;
  box-shadow: 37px 18px 1px lightcoral;

  background: rgb(255,255,255);
  background: linear-gradient(142deg, rgba(255,255,255,1) 29%, rgba(253,247,240,1) 78%, rgba(247,225,201,1) 100%);
}

ul#liststage {
  margin: 20px 89px;
  list-style-type: disc;
}

li {
  font-weight: bold;
}

li span {
  position: relative;
  left: 23px;
}

div#vert-hr {
  position: absolute;
  top: 14px;
  left: 96px;

  width: 2px;
  height: 78vh;
  background-color: bisque;
}